/* *{ */
    margin: 0;
    padding: 0;
/* } */

body{
    margin: 0 auto;
}

/* header */
header{
    background-color: red;
    height: 100px;
}
header .container {
    display:flex;
}
header .container p {
    flex: 1; 
    font-size: 70px;
    font-weight: unset;
    margin-left: 15 px;
    line-height: 80px;
    color: mediumaquamarine;
    height: 60px; 
}
header .container p i {
    color: darkblue
}
 header .container nav {
     flex: 1; 
     z-index: 99;
 }
 
/* hero */
.hero{
    background-color: green;
}

.hero .hero-cta img{
    width: 25%;
}
/* portfolio */
#Portfolio{
background-color: blue;
}
/* About Me */
#about-me{
    background-color: orange;
}
/* Contact Info */
#contact-info{
background-color: grey;
}
